{% load static %}
<!doctype html>
<html>

<div class="container">
  <h3>Featured projects
  </h3>
  <div class="row">
    <div class="col-sm">

      <div class="card round_border" style=" width: 18rem; margin: 5px auto;">
        <img class="card-img-top" src="{% static "img/tech.svg" %}" alt="Card image cap">
        <div class="card-header">Header</div>

        <div class="card-body card-featured">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm">

      <div class="card round_border " style="width: 18rem; margin: 5px auto; ">
        <img class="card-img-top" src="{% static "img/tech.svg" %}" alt="Card image cap">

        <div class="card-header">Header</div>
        <div class="card-body card-featured">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm">

      <div class="card round_border " style="width: 18rem; margin: 5px auto; ">
        <img class="card-img-top" src="{% static "img/tech.svg" %}" alt="Card image cap">
        <div class="card-header">Header</div>

        <div class="card-body card-featured">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>

</div>

</html>